@media only screen and (max-width: 1350px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 850px;
    height: 100%;
  }
  section.detail-sekolah {
    height: 200px;
  }
  section.detail-sekolah .col {
    transform: translateY(50px);
  }
  section.detail-sekolah h3 {
    font-size: 34px;
  }
  section.detail-sekolah h4 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1100px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 800px;
    height: 100%;
  }
  section.detail-sekolah {
    height: 180px;
  }
  section.detail-sekolah .col {
    transform: translateY(65px);
  }
  section.detail-sekolah h3 {
    font-size: 24px;
  }
  section.detail-sekolah h4 {
    font-size: 12px;
  }
  #murid .card {
    width: 180px;
    height: 180px;
  }
  #murid .nama-siswa {
    margin-bottom: 0px;
    margin-left: -6px;
  }
  #murid .card-text {
    width: 150px;
    margin-bottom: 0;
    font-size: 16px;
    margin-left: -6px;
  }
}

@media only screen and (max-width: 850px) {
  #preload {
    background-size: 20%;
  }
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 700px;
    height: 100%;
  }
  section.detail-sekolah {
    height: 150px;
  }
  section.detail-sekolah .col {
    transform: translateY(40px);
  }
  section.detail-sekolah h3 {
    font-size: 22px;
  }
  section.detail-sekolah h4 {
    font-size: 11px;
  }
  #guru .show_name {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  #guru img {
    width: 220px;
  }
  #murid .card {
    width: 150px;
    height: 150px;
  }
  #murid .nama-siswa {
    margin-bottom: 0px;
    margin-left: -8px;
    font-size: 22px;
  }
  #murid .card-text {
    width: 130px;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: -8px;
  }
}
@media only screen and (max-width: 720px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 600px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 40px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 25px;
  }
  section.detail-sekolah {
    height: 120px;
  }
  section.detail-sekolah .col {
    transform: translateY(30px);
  }
  section.detail-sekolah h3 {
    font-size: 22px;
  }
  section.detail-sekolah h4 {
    font-size: 11px;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 520px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 32px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 25px;
    margin-bottom: -2px;
  }
  section.detail-sekolah {
    height: 200px;
  }
  section.detail-sekolah .row {
    background-color: brown;
    width: 380px;
    height: 150px;
    margin: 10px auto;
  }
  section.detail-sekolah .col {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 4px 10px 10px 10px;
    transform: translateY(20px);
  }
  section.detail-sekolah h3 {
    font-size: 24px;
  }
  section.detail-sekolah h4 {
    font-size: 12px;
  }
  #murid .card {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 460px;
    height: 100%;
  }
  #guru img {
    width: 150px;
  }
  #guru .show_name {
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
  #guru .show_name:hover {
    font-size: 15px;
  }
  #murid .card {
    width: 135px;
    height: 135px;
  }
  #murid .nama-siswa {
    font-size: 22px;
    margin-bottom: 0px;
    margin-left: -8px;
  }
  #murid .card-text {
    width: 110px;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: -8px;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 420px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 26px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 22px;
    margin-bottom: -2px;
  }
  section.detail-sekolah {
    height: 200px;
  }
  section.detail-sekolah .row {
    background-color: brown;
    width: 340px;
    height: 150px;
    margin: 10px auto;
  }
  section.detail-sekolah .col {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 4px 10px 10px 10px;
    transform: translateY(20px);
  }
  section.detail-sekolah h3 {
    font-size: 20px;
  }
  section.detail-sekolah h4 {
    font-size: 10px;
  }
  #murid .card {
    width: 114px;
    height: 114px;
  }
  #murid .nama-siswa {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: -6px;
  }
  #murid .card-text {
    width: 90px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: -6px;
  }
}

@media only screen and (max-width: 430px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 380px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 24px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 20px;
    margin-bottom: -2px;
  }
  #murid .card {
    width: 106px;
    height: 106px;
  }
  #murid .nama-siswa {
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: -8px;
  }
  #murid .card-text {
    width: 85px;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: -8px;
  }
}

@media only screen and (max-width: 390px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 320px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 22px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 18px;
    margin-bottom: -2px;
  }
  section.detail-sekolah .row {
    background-color: brown;
    width: 300px;
    height: 150px;
    margin: 10px auto;
  }
  #guru img {
    width: 120px;
  }
  #guru .show_name {
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
  #guru .show_name:hover {
    font-size: 12px;
  }
  #murid .card {
    width: 86px;
    height: 86px;
  }
  #murid .nama-siswa {
    font-size: 18px;
    margin-bottom: -4px;
  }
  #murid .card-text {
    width: 70px;
    margin-bottom: -6px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 330px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 300px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 20px;
    margin-bottom: -10px;
  }
  .carousel-caption p {
    font-size: 16px;
    margin-bottom: -2px;
  }
  section.detail-sekolah {
    height: 140px;
  }
  section.detail-sekolah .row {
    background-color: brown;
    width: 280px;
    height: 110px;
    margin: 20px auto;
  }
  section.detail-sekolah .col {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: -10px 6px 2px 6px;
    transform: translateY(20px);
  }
  section.detail-sekolah h3 {
    font-size: 14px;
  }
  section.detail-sekolah h4 {
    font-size: 8px;
  }
  #murid .card {
    width: 78px;
    height: 78px;
  }
  #murid .nama-siswa {
    font-size: 14px;
    margin-bottom: -4px;
  }
  #murid .card-text {
    width: 60px;
    margin-bottom: -6px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 310px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 290px;
    height: 100%;
  }
  #murid .card {
    width: 76px;
    height: 76px;
  }
  footer img {
    width: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .carousel-item img {
    border-radius: 10px;
    margin: 50px auto;
    width: 280px;
    height: 100%;
  }
  .carousel-caption h1 {
    font-size: 18px;
    margin-bottom: -6px;
  }
  .carousel-caption p {
    font-size: 14px;
    margin-bottom: -2px;
  }
  section.detail-sekolah {
    height: 110px;
  }
  section.detail-sekolah .row {
    background-color: brown;
    width: 260px;
    height: 72px;
    margin: 6px auto;
  }
  section.detail-sekolah .col {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 8px 4px 8px 4px;
    transform: translateY(2px);
  }
  section.detail-sekolah h3 {
    font-size: 10px;
  }
  section.detail-sekolah h4 {
    font-size: 8px;
  }
  #murid .card {
    width: 110px;
    height: 110px;
  }
}
