@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* preload */
#preload {
  background: #ffffff url(other_image/Hourglass.gif) no-repeat center center;
  position: fixed;
  display: flex;
  justify-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-size: 10%;
  z-index: 4;
}
/* akhir preload */

/* Navigasi */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 80px;
  font-family: "Caveat";
  background-color: rgb(63, 210, 250);
  box-shadow: 0px 2px 20px rgb(189, 189, 189);
  box-sizing: border-box;
}
.navbar .main-logo img {
  width: 140px;
}
.nav-item a {
  font-size: 25px;
  margin-right: 10px;
}
.offcanvas {
  width: 80%;
}

/* Akhir navigasi */

/* carousel */
.carousel {
  background-image: url(other_image/doodles.png);
  z-index: 2;
  padding-top: 100px;
  position: relative;
}
.carousel-item {
  position: relative;
}
.carousel-item img {
  border-radius: 10px;
  margin: 50px auto;
  width: 1080px;
  height: 500px;
}
.carousel-caption {
  font-family: "Caveat";
  margin-bottom: 20px;
}
.carousel-caption h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: -10px;
  text-shadow: 4px 4px 8px black;
}
.carousel-caption p {
  font-weight: 400;
  font-size: 35px;
  text-shadow: 4px 4px 8px black;
}
.carousel button .control {
  background-color: rgb(20, 110, 111);
  border-radius: 2px;
}
/* akhir carousel */

/* profil sekolah */

#profil-sekolah {
  padding: 70px 0px 80px 0px;
  position: relative;
  z-index: 2;
  background-image: url(other_image/doodles.png);
  height: auto;
  display: none;
}
#profil-sekolah .foto-sekolah {
  width: 460px;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(12%);
}
#profil-sekolah img {
  width: 460px;
}
#profil-sekolah h4 {
  font-family: "Mali";
  font-weight: 700;
  font: 28px;
  color: aqua;
  text-shadow: 2px 2px 2px rgb(250, 205, 25);
  transform: translateY(70%);
}
#profil-sekolah p {
  line-height: 18px;
  line-break: loose;
  font-family: "Mali";
  font-size: 14px;
  font-weight: 300;
  transform: translateY(12%);
  text-shadow: 0px 0px 10px rgb(121, 121, 121);
}

/* akhir profil sekolah */

/* detail sekolah */
section.detail-sekolah {
  height: 700px;
  position: relative;
}
section.detail-sekolah h4 {
  position: absolute;
  z-index: 2;
  font-size: 3em;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -280%);
  font-family: "Caveat";
  text-shadow: 2px 2px 2px rgb(190, 47, 143);
  color: aqua;
}
section.detail-sekolah video {
  position: absolute;
  z-index: 2;
  width: 920px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  border-radius: 8px;
}
.image-scroll {
  height: 1200px;
  background-image: url(other_image/doodles2.png);
  position: fixed;
  background-attachment: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
/* akhir detail sekolah */

/* guru */
#guru {
  background-image: url(other_image/doodles.png);
  position: relative;
  z-index: 2;
  font-family: "Caveat";
  height: auto;
}
#guru .title-guru {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(250, 205, 25);
  color: aqua;
}
#guru .guru {
  position: relative;
  margin-bottom: 8px;
}
#guru img {
  clip-path: circle();
  width: 256px;
}

/* akhir guru */

/* murid */
.select-siswa {
  margin-top: 10px;
  position: relative;
  width: 8rem;
  overflow: hidden;
  border-radius: 4px;
  padding-bottom: 10px;
}
.select-siswa::after {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  content: "\25BC";
  color: rgb(255, 255, 255);
  background-color: rgb(59, 59, 59);
  width: 1.8em;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.select-siswa::after:hover {
  background-color: aqua;
}
#select-siswa {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: gray;
  border: 1px solid gray;
  padding-left: 4px;
  width: 8rem;
  font-family: "Caveat";
  appearance: none;
  font-size: 1;
}
#select-siswa option {
  font-size: 1em;
}
#murid {
  background-image: url(other_image/doodles.png);
  position: relative;
  z-index: 2;
  height: auto;
}
#murid .title-murid {
  font-weight: 700;
  margin-top: 40px;
}
#murid h2 {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(250, 149, 25);
  color: rgb(19, 255, 223);
  font-family: "Caveat";
}
#murid .card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 240px;
  height: 240px;
  margin: 15px auto;
  cursor: pointer;
}
#murid .card img {
  transition: 0.3s;
}
#murid .card-body {
  font-family: "Caveat";
  position: absolute;
  color: aliceblue;
  bottom: 0;
  left: 0;
  transform: translateY(10%);
  text-shadow: 4px 4px 8px black;
}
#murid .nama-siswa {
  font-size: 30px;
  margin-bottom: 0px;
}
#murid .card-text {
  width: 206px;
  margin-bottom: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#murid .birthday {
  display: none;
}
#murid .advice {
  display: none;
}
#murid .sosmed-siswa {
  display: none;
  width: 10px;
}
#murid .card:hover img {
  transform: scale(1.2);
}
/* akhir murid */

/* footer */
footer {
  position: relative;
  z-index: 2;
  bottom: 0;
  margin-bottom: -30px;
  width: 100%;
  height: 50px;
  color: white;
  box-shadow: -4px -4px 10px rgb(210, 210, 210);
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
footer .text-muted {
  color: rgb(255, 255, 255);
}
footer ul {
  float: right;
  list-style: none;
}
footer li {
  display: inline-block;
  margin-left: 8px;
}
footer img {
  width: 16px;
}
/* akhir footer */
